.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow: auto;

  align-items: center;
  /* z-index: 1000; */
}

.modalContent {
  padding: 22px 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 18px;
  width: 100%;
  /* max-height: 80vh; */
  max-width: 500px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 29px;
  right: 30px;
  width: 29px;
  height: 29px;
  background: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.closeButton:active {
  transform: scale(0.9);
}

.headerImage {
  background-image: url("../../../assets/Images/RegisterModalQuestionsBg.svg");
  background-size: cover;
  background-position: center;
  padding: 50px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.headerImage h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow: auto;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #dedede;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: poppins;
  border-radius: 3px;
  color: #000000;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

.backButton {
  background: black;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: white;
  padding: 10px 20.5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}

.backButton:hover {
  background-color: #000000cf;
}

.nextButton {
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  background: var(--primary-color);
  border-radius: 3px;
  color: white;
  padding: 10px 23px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
  margin-left: auto;
}

.nextButton:hover {
  background-color: #0096c4;
}

.input {
  /* width: -webkit-fill-available; */
  width: 95%;
  padding: 10.5px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  border-radius: 4px;
  outline: none;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.noQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  font-size: 16px;
  color: #000000;
}

@media (max-height: 800px) {
  .modalContent {
    max-height: 80vh;
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 90%;
    padding: 18px;
  }

  .headerImage {
    font-size: clamp(16px, 4vw, 20px);
    padding: 40px 15px;
  }

  .option {
    font-size: 12px;
    padding: 8px;
  }

  /* .buttonContainer {
    flex-direction: column;
    gap: 10px;
  } */

  .backButton,
  .nextButton {
    font-size: 18px;
    padding: 8px 15px;
  }
   .input {
    font-size: 14px;
    padding: 10px;
    outline: none;
  }
}

@media (max-width: 480px) {
  .modalContent {
    width: 85%;
  }

  .headerImage {
    font-size: 16px;
    padding: 30px 10px;
  }

  .closeButton {
    width: 24px;
    height: 24px;
  }

  .option {
    font-size: 12px;
    padding: 7px;
  }

  .input {
    font-size: 14px;
    padding: 8px;
    outline: none;
  }
}
/* NSai */
.errorMessage {
  color: red;
  text-align: start;
}
@media screen and (max-width:350px) {
  .input {
   font-size: 14px;
    padding: 6px;
    outline: none;
  }
}