.popularcityContainer {
  padding: 29px 91px;
}

.popularcityContainer > div {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  justify-content: center;
}

.popularcityContainer h1 {
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: var(--text-color);
}

.popularcityContainer span {
  font-weight: 700;
  font-size: 35px;
  color: var(--primary-color);
}

.cityContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
}

.cityBox {
  background: #f9f9fa;
}

.cityNameBtn {
  padding: 0px 10px 9px 10px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.cityName {
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: var(--text-color);
}

.cityBox img {
  width: calc(100% - 20px);
  /* padding: 9px 10px; */
}

.cityNameBtn button {
  box-shadow: 0px 0px 3.85px 0px #0000004d;
  background: var(--primary-color);
  border: none;
  padding: 11px;
  border-radius: 4.5px;
  font-weight: 700;
  font-size: 17px;
  line-height: 37px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  cursor: pointer !important;
}

.cityNameBtn button:hover {
  background-color: #0096c4;
}

@media (max-width: 1280px) {
  .popularcityContainer {
    padding: 29px 41px;
  }

  .cityNameBtn {
    gap: 26px;
  }

  .cityNameBtn button {
    padding: 9px;
  }
}

@media (max-width: 920px) {
  .cityContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 786px) {
  .popularcityContainer {
    padding: 29px 20px;
  }

  .popularcityContainer > div {
    gap: 22px;
  }

  .cityName {
    font-size: 20px;
    line-height: 30px;
  }

  .cityNameBtn {
    gap: 16px;
  }

  .cityNameBtn button {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (max-width: 520px) {
  .cityContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .popularcityContainer h1 {
    font-size: 30px;
  }
  .popularcityContainer span {
    font-size: 30px;
  }
  .cityName {
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
  }
  .cityNameBtn button {
    font-size: 13px;
    padding: 8px;
    white-space: nowrap;
  }

  .cityNameBtn {
    gap: 10px;
    padding: 0 4px 4px 4px;
  }
  .cityBox img {
  width: calc(100% - 20px);
  padding: 0px;
}
}

/* below new css  */
.container {
  text-align: center;
  padding: 30px 88px;
}

.heading {
  font-size: var(--text-size-35);
  font-weight: 400;
}

.highlight {
  color: #00aaff;
  font-weight: 700;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 29px;
}

.slider {
  max-width: 1500px;
  overflow: hidden;
}

.slide {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.slide img {
  width: 100%;
}
.slide > p {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}
.label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #00aaff;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: ;
  gap: 10px;
}

.arrowIcon {
  cursor: pointer !important;
  transition: transform 0.2s ease-in-out;
}

.arrowIcon:hover {
  transform: scale(1.1);
}

.keen-slider__slide {
  position: relative;
  text-align: center;
}

.keen-slider__slide img {
  width: 100%;
  border-radius: 10px;
}

.leftArrowWrapper,
.rightArrowWrapper {
  width: 16px;
  min-width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
  transition: 0.4s;
}

.leftArrowWrapper:hover,
.rightArrowWrapper:hover {
  background-color: var(--primary-color);
}

.availableOnline {
  position: absolute;
  margin: 9px 0 0 8px;
  width: fit-content;
  padding: 7px 21px;
  font-size: 12.72px;
  border-radius: 79.3px;
  color: #fff;
  background-color: var(--primary-color);
}

.slider_title {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

@media (max-width: 1280px) {
  .container {
    text-align: center;
    padding: 30px 41px;
  }
}

@media (max-width: 884px) {
  .heading {
    font-size: 28px;
    font-weight: 400;
  }
  .availableOnline {
    font-size: 11.72px;
    padding: 5px 12px;
  }
}

@media (max-width: 786px) {
  .container {
    text-align: center;
    padding: 30px 20px;
  }
}

@media (max-width: 520px) {
  .container {
    padding: 26px 20px;
  }
  .leftArrowWrapper,
  .rightArrowWrapper {
    width: 12px;
    min-width: 12px;
    height: 12px;
    display: none;
  }
  .slide img {
    width: 100%;
    height: 116px;
    object-fit: cover;
  }
  .heading {
    font-size: 22px;
    font-weight: 400;
  }
  .availableOnline {
    font-size: 8px;
    padding: 4px 8px;
  }
  .availableOnline {
    margin: 4px 0 0 4px;
  }
  .slide > p {
    font-size: 14px;
    font-weight: 500;
  }
  .slider_title {
    font-size: 14px;
  }
}
