.parentContainer {
  background-color: #f9f9fa;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.label {
  font-size: 14px;
  margin-bottom: 10px;
}

.serviceTag {
  background: #dff2fd;
  color: #25aef2;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.secondaryLabel {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.selectedServices {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.selectedTag {
  background: black;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.removeBtn {
  background: none;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.searchBox {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.checkbox {
  width: 16px;
  height: 16px;
}

.dropdownWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
}

.expandBtn {
  background: #009fe3;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.leadInfo {
  background: #dff2fd;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 10px;
}

.leadCount {
  color: #009fe3;
  font-size: 18px;
  font-weight: bold;
}

.leadText {
  font-size: 12px;
  color: gray;
}

.nextBtn {
  background: #009fe3;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}
.searchInputContainer {
  width: min-content;
  position: relative;
  display: flex;
  align-items: center;
}