.cta {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
}
.button:hover {
  background: #00aef0;
}
@media (max-width: 640px) {
  .cta {
    margin-top: 40px;
  }
}
