.wrapper {
  background-color: #fff;
  border-radius: 6px;
  margin-top: 16px;
  margin-left: 16px;
}
.overAllText {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.alertBox {
  background-color: #e3f6fc;
  padding: 12px 10px;
  margin-bottom: 30px;
  color: #000;
  font-size: 14px;
}

.alertBox p {
  margin: 16px 0 0;
  color: #000000;
}

.sectionTitle {
  font-weight: 600;
  font-size: 16px;
  vertical-align: middle;
  margin-bottom: 17px;
}

.fieldGroup {
  margin-bottom: 24px;
}

.reviewsLabel {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  color: #000000;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.row {
  display: flex;
  gap: 47px;
  align-items: center;
}

.input {
  flex: 1;
  max-width: 635px;
  padding: 10px 18.7px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

.primaryBtn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 60px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
}

.importBtn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
}

.secondaryBtn {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid #00afe3;
  padding: 10px 41px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
}

.fbLabel {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  gap: 10px;
  margin-bottom: 4px;
}

.fbIcon {
  width: 20px;
  height: 20px;
}

.subtext {
  color: #828282;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.localistBox {
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  padding: 22px 19px;
  margin-bottom: 27px;
  font-size: 14px;
  height: 138px;
}

.localistBox strong {
  font-weight: 500;
  font-size: 20px;
  color: #828282;
}

.localistBox p {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
  max-width: 578px;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cancelBtn {
  background-color: #c6c6c6;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.saveBtn {
  background-color: var(--primary-color);
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: #fff;
  border: none;
  padding: 8px 21px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .row {
    gap: 16px;
  }

  .primaryBtn,
  .secondaryBtn,
  .cancelBtn,
  .saveBtn {
    font-size: 16px;
    padding: 10px;
  }

  .localistBox {
    height: auto;
  }
}

@media (max-width: 480px) {
  .wrapper {
    margin-top: 16px;
    /* padding: 12px; */
  }

  .sectionTitle,
  .reviewsLabel,
  .fbLabel,
  .subtext {
    font-size: 14px;
  }
  .sectionTitle {
    margin-bottom: 0px;
    font-size: 16px
  }
  .alertBox{
    margin-bottom: 10px;
  }

  .input {
    font-size: 13px;
    padding: 8px 14px;
  }

  .alertBox {
    font-size: 13px;
    padding: 10px;
  }

  .alertBox p {
    margin-top: 12px;
  }

  .primaryBtn,
  
 
  .cancelBtn,
  .saveBtn {
    font-size: 15px;
    padding: 9px 14px;
    width: 100%;
  }
  .secondaryBtn{
    font-size: 15px;
    white-space: nowrap;
    color: #ffffff;
    background-color: var(--primary-color);
  }
  .row {
    gap:5px;
    flex-direction: column;
    align-items: normal;
  }
  .importBtn {
    font-size: 15px;
    white-space: nowrap;
    padding: 10px 6px;
  }

  .buttonRow {
    flex-direction: column;
    gap: 10px;
  }

  .localistBox {
    padding: 16px;
    font-size: 13px;
    margin-bottom: 24px;
  }

  .localistBox strong {
    font-size: 18px;
  }

  .localistBox p {
    font-size: 13px;
  }

  .fbIcon {
    width: 18px;
    height: 18px;
  }
  .subtext{
    font-weight: 500;
    margin-bottom: 5px;
  }
  .reviewsLabel{
    font-weight: 500;
  }
  .cancelBtn,
  .saveBtn {
    font-weight: 600;
    text-align: center;
  }
  .buttonRow {
    margin-bottom: 24px;
  }
}
