.container {
    margin-top: 37px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .heading {
    font-size: 16px;
    font-weight:500;
    margin-bottom: 16px;
  }
  
  .scrollTable {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
  }
  
  .table th {
    background-color: #00aaff;
    color: white;
    text-align: left;
    padding: 12px;
    font-weight: 600;
    font-size: 16px;
  }
  
  .table td {
    padding: 12px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    color: #333;
  }
   
  .table tbody {
    border: 1px solid #D9D9D9;
  }
  
  .table tr:last-child td {
    border-bottom: none;
  }
  
  .bold {
    font-weight: 600;
  }
  
  .negative {
    color: #000;
    font-weight: 600;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .table th,
    .table td {
      padding: 10px;
      font-size: 14px;
    }
  
    .heading {
      font-size: 20px;
    }
  }
  