.faqWrapper {
  margin: 0 auto;
  padding: 40px 215px;
  background-color: #f9f9f9;
}

.heading {
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2rem;
}

.heading span {
  color: var(--primary-color);
  font-weight: 700;
}

.faqItem {
  border-bottom: 1px solid #000000;
  padding: 16px 12px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.blueQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  color: var(--primary-color);
}

.answer {
  margin-top: 16px;
  font-weight: 400;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 40px;
  transition: all 0.3s, visibility 0s;
}

.icon {
  margin-left: 10px;
}
