.infoWrapper {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: block;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
  margin-top: 12px;
}

.input {
  display: flex;
  justify-content: start;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  border: 1px solid #d9d9d9;
  width: -webkit-fill-available;
  padding: 12px;
  border: 1px solid #ccc;
  color: #828282;
  border-radius: 5px;
}
.input:focus{
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(0, 150, 196, 0.1);
}

.inputError {
  border: 1px solid red !important;
}

.errorMessage {
  color: red !important;
  font-size: 12px;
  display: block;
  text-align: left;
  margin-top: 5px;
}
.subText {
  background: rgba(233, 248, 255, 1);
  max-width: fit-content;
  font-weight: 400px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  margin: auto;
  margin-top: 33px;

}
/* Responsive Styles */
@media (max-width: 768px) {
  .label {
    display: block;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: #828282;
    margin-bottom: 5px;
  }

  .input {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .input {
    font-size: 14px;
    padding: 10px;
  }
  
  .label {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
  }
  
  .infoWrapper {
    margin-bottom: 0px;
  }
}