.bannerImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0;
  min-height: 158px;
  display: block;
}
.bannerImage {
  margin-bottom: 16px;
}
@media (max-width: 480px) {
  .bannerImage {
    object-fit: contain;
  }
  .bannerImage {
    margin-bottom: 0px;
  }
}
