.wrapper {
  padding: 56px 120px 56px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 30px 56px 48px;
  }
}
/* Mobile */
@media (max-width: 600px) {
  .wrapper {
    padding: 30px 10px 48px;
  }
}
