.infoWrapper {
  margin-bottom: 8px;
}

.label {
  display: block;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
  margin-top: 12px;
}

.phoneWrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.phoneWrapper::before {
  content: "+44";
  position: absolute;
  top: 55.5%;
  left: 10px;
  transform: translateY(-50%);
  color: #000;
  pointer-events: none;
}

.error44::before {
  content: "+44";
  position: absolute;
  top: 38.5%;
  left: 10px;
  transform: translateY(-50%);
  color: #000;
  pointer-events: none;
}

.phoneInput {
  display: flex;
  justify-content: start;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  border: 1px solid #d9d9d9;
  width: -webkit-fill-available;
  padding: 12px;
  padding-left: 48px;
  border: 1px solid #ccc;
  color: #828282;
  border-radius: 5px;
  margin-top: 5px;
}
.phoneInput:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(0, 150, 196, 0.1);
}
.inputError {
  border: 1px solid red !important;
}

.errorMessage {
  color: red !important;
  font-size: 12px;
  display: block;
  text-align: left;
  margin-top: 5px;
}

.phoneNote {
  background: rgba(233, 248, 255, 1);
  max-width: fit-content;
  font-weight: 400;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  margin: auto;
  margin-top: 42px;
}
.phoneZero {
  /* style={{marginTop:'16.33px',fontSize:'14px',fontWeight:'500px !important'}} */
  font-size: 14px;
  font-weight: 500;
  margin-top: 16.33px;
  text-align: center;
  line-height: 19px;
  background: rgba(245, 245, 245, 1);
  padding: 8.5px 12px;
  margin-left: auto;
  margin-right: auto;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .label {
    font-weight: 500;
    font-size: 14px;
  }

  .phoneInput {
    font-size: 14px;
    padding: 10px;
    padding-left: 42px;
  }
}

@media (max-width: 480px) {
  .phoneInput {
    font-size: 14px;
    padding: 10px;
    padding-left: 42px;
  }
  .phoneNote {
    font-weight: 400;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 14px;
    margin-top: 31px;
    text-align: center;
  }
  .phoneZero {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 0%;
    text-align: left;
    font-size: 10px;
    padding: 6.5px 10px;
    max-width: fit-content;
  }
  .label {
    font-weight: 600;
    font-size: 14px;
  }

  .infoWrapper {
    margin-bottom: 0px;
  }
}
