.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modalContent {
    background: white;
    width: 820px;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .heading {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .label {
    font-size: 14px;
    margin-bottom: 4px;
    display: block;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 90%;
  }
  
  .row {
    display: flex;
    gap: 16px;
  }
  
  .inputGroup {
    flex: 1;
    max-width: 380px;
    
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .cancelBtn {
    background: #C6C6C6;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
  }
  
  .submitBtn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 64px;
  }
  
  .footerNote {
    margin-top: 30px;
    background: #e6f8fe;
    padding: 16px;
    border-radius: 6px;
    font-size: 13px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
    
  .footerNote p {
    
    max-width: 370px;
  }
  .cards  {
    gap: 8px;
    display: flex;

  }
  