.blogHeader {
  position: relative;
  height: 550px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 62%;
  left: 0;
  width: -webkit-fill-available;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
  text-align: center;
}

.headerContent {
  max-width: 600px;
  margin-bottom: 20px;
}

.headerContent h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: start;
  width: 103%;
}

.headerContent p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.authorInfo {
  color: #fff;
  font-size: 1rem;
}

.authorInfo p {
  margin: 5px 0;
}

.blogSection {
  padding: 40px 20px;
}

.blogFooter {
  padding: 30px 20px;
  background-color: #f9f9f9;
}

.additionalInfo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.additionalItem {
  flex: 1;
  max-width: 300px;
  text-align: center;
}

.additionalItem img {
  width: 100%;
  height: auto;
}
