:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-primary: "Poppins", system-ui, sans-serif;
  --font-secondary: "Inter", Arial, sans-serif;
}

body {
  font-family: var(--font-primary);
  min-height: 100vh;
}

.font-poppins {
  font-family: var(--font-primary);
}

.Inter {
  font-family: var(--font-secondary);
}

.Arial {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
