.photosContainer {
    margin-top: 12px;
}
.photoContainer h2 {
    font-size: 20px;
    margin-bottom: 16px;
    display: flex;
    align-items: start;
}
.profileImg {
    width: 129px;
    height: 92px;
}