.container {
  width: 75%;
  margin: 0 auto;
  padding: 40px 0px;
  text-align: center;
  position: relative;
}

.heading {
  color: var(--text-color);
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0;
  margin: 0 0 40px;
}

.heading span {
  color: var(--primary-color);
  font-weight: 700;
}

.sliderWrapper {
  position: relative;
  height: 215px;
}

.card {
  width: 285px;
  height: 208px;
  position: relative;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.custom_slider > div > div {
  display: flex;
  column-gap: 20px !important;
}

/* Custom Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--text-color) !important;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.arrow img {
  width: 17px;
  height: 13px;
}

.arrow:hover {
  background: var(--primary-color) !important;
}

.prev {
  left: -50px;
}

.next {
  right: -50px;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 55%;
  background: var(--text-color) !important;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.arrowLeft img,
.arrowRight img {
  width: 17px;
  height: 13px;
}

.arrowLeft {
  left: -60px;
}
.arrowRight {
  right: -60px;
}

.arrowLeft,
.arrowRight {
  transition: background-color 0.3s ease-in-out;
}

.arrowLeft:hover,
.arrowRight:hover,
.arrowLeft:active {
  background-color: var(--primary-color) !important;
}
.serviceCard {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.33% - 20px);
  text-align: center;
  cursor: pointer;
}

.serviceImage {
  width: 100%;
  height: 208px;
  object-fit: cover;
}

.serviceTitle {
  font-weight: 600;
  font-size: 16px;
  margin: 0 auto;
  margin-top: -2px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 44px;
  color: var(--text-color);
  background-color: #f9f9fa;
}

.serviceCard:hover .serviceTitle {
  background: var(--primary-color);
  color: #ffffff;
}

.categoryTitleText {
  color: var(--primary-color);
}

.blackText {
  color: var(--text-color) !important;
  font-weight: 400 !important;
}

/* .viewAllBtn {
  text-align: center;
}

.viewAllBtn button {
  background: #00afe3;
  box-shadow: 0px 0px 4px 0px #0000004d;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0;
  cursor: pointer;
  padding: 11px 31px;
  border-radius: 4.67px;
} */

@media (max-width: 1020px) {
  .serviceImage {
    height: 150px;
  }
  .arrowLeft,
  .arrowRight {
    top: 48%;
  }
}

@media (max-width: 920px) {
  .container {
    padding: 30px 0px 0 0;
  }

  .container:last-child {
    padding-bottom: 20px;
  }

  .heading {
    margin: 0 0 22px;
  }

  .arrow {
    width: 35px;
    height: 35px;
  }

  .arrowLeft,
  .arrowRight {
    top: 45%;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 22px;
    margin: 0 0 23px;
  }
  .viewAllBtn button {
    font-size: 12px;
    line-height: 18px;
    padding: 5.72px 10px;
  }
}

@media (max-width: 560px) {
  .container {
    margin-bottom: 25px;
  }
  .sliderWrapper {
    height: 165px;
  }

  .card {
    width: 285px;
    height: 166px;
  }

  .image {
    width: 210px;
    height: 156px;
  }

  .prev {
    left: -1px;
  }

  .next {
    right: -1px;
  }

  .arrow {
    top: -25% !important;
    width: 25px;
    height: 25px;
  }

  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 36px;
    width: 28px;
    height: 28px;
  }

  .arrowLeft {
    left: 0px;
  }
  .arrowRight {
    right: 0px;
  }

  .arrowLeft img,
  .arrowRight img {
    width: 12px;
  }

  .serviceCard {
    /* min-width: 200px; */
    flex: 1 1 calc(33.33% - 5px);
  }

  .serviceTitle {
    font-size: 12px;
  }
}

.categoryGrid::-webkit-scrollbar {
  display: none;
}

@media (max-width: 488px) {
  .container {
    width: 86%;
    margin: 0 auto 40px;
  }

  .heading {
    font-size: 20px;
    line-height: 30px;
  }

  .sliderWrapper {
    width: 100%;
    height: 150px;
  }

  .card {
    width: 295px;
  }

  .image {
    width: 171px;
    height: 114px;
    object-fit: cover;
  }

  .prev {
    left: -1px;
  }

  .next {
    right: -1px;
  }

  .arrow {
    top: -25% !important;
    width: 25px;
    height: 25px;
  }

  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 30px;
    width: 28px;
    height: 28px;
  }

  .arrowLeft {
    left: 0px;
  }
  .arrowRight {
    right: 0px;
  }

  .arrowLeft img,
  .arrowRight img {
    width: 12px;
  }

  .serviceTitle {
    font-size: 10px;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .heading {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (max-width: 340px) {
  .heading {
    font-size: 16px;
    line-height: 28px;
  }

  .prev {
    left: 0px;
  }

  .next {
    right: 0px;
  }

  .arrow {
    width: 23px;
    height: 23px;
  }
}
